body {
    background-color: rgb(168, 172, 177);
}

.sandwich-options {
    margin: 10px;
}

h1 {
    text-align: center;
}

.sandwich-options {
    border: solid 1px;
    padding: 10px;
}
.order {
    display: flex;
    justify-content: center;
}

.choicesContainer {
    border: solid 5px;
    background-color: coral;
    justify-content: center;
    margin: 20px !important;
}

.final-order {
    width: 150px;
}