body {
    background-color: rgb(168, 172, 177);
}

.sandwich-options {
    margin: 10px;
}

.choicesContainer {
    border: solid 5px;
    background-color: coral;
    justify-content: center;
}

h1 {
    text-align: center;
}

.sandwich-options {
    border: solid 1px;
    padding: 10px;
}